<div class="container-fluid">
    <div *ngIf="storeService.loadingChildren" class="row justify-content-center my-5">
        <mat-spinner style="height: 50px; width: 50px;"></mat-spinner>
    </div>
    <div *ngIf="!storeService.loadingChildren">
        <div class="row">
            <table mat-table [dataSource]="storeService.children" class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                </ng-container>
                <!-- Kindergarden Name Column -->
                <ng-container matColumnDef="kindergarden.name">
                    <th mat-header-cell *matHeaderCellDef>Kindergarten</th>
                    <td mat-cell *matCellDef="let element"> {{element.kindergarden.name}}</td>
                </ng-container>
                <!-- Address -->
                <ng-container matColumnDef="kindergarden.address">
                    <th mat-header-cell *matHeaderCellDef>Adresse</th>
                    <td mat-cell *matCellDef="let element"> {{element.kindergarden.address}}</td>
                </ng-container>
                <!-- Age -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Alter</th>
                    <td mat-cell *matCellDef="let element"> {{getAge(element.birthDate)}}</td>
                </ng-container>
                <!-- Birth of Date -->
                <ng-container matColumnDef="birthDate">
                    <th mat-header-cell *matHeaderCellDef>Geburtsdatum</th>
                    <td mat-cell *matCellDef="let element"> {{element.birthDate}}</td>
                </ng-container>
                <!-- Deletion Action -->
                <ng-container matColumnDef="deletion">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="warn" (click)="cancelRegistration(element.id)">Kind abmelden</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <div class="row">
            <mat-paginator [length]="storeService.childrenTotalCount"
                           [pageSize]="CHILDREN_PER_PAGE"
                           [pageIndex]="currentPage"
                           aria-label="Select page"
                            (page)="selectPage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
